*::selection { /*псевдоэлемент управляет стилем текста, который пользователь выделяет при помощи мыши*/
    color: yellow;
    background: lightcoral;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Ostrovsky";
    background: linear-gradient(pink 10%, lightcoral);
    height: 100vh;
    min-height: 700px;
}

header {
    background-color: pink;
    position: sticky;
    top: 0px;
    height: 10vw;
    max-height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 20px;
    width: 40%;
    max-width: 400px;
}

a {
    text-decoration: none; /*ссылки не подчёркиваются*/
    color: lightcoral;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

    a:visited { /*отображение посещённых ссылок*/
        text-decoration: none; /*нажатые ссылки не изменяют цвет*/
    }

    a:hover {
        color: white;
    }

main {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box, .bank_card {
    background: rgba(255,255,255,0.13);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.box {
    width: 670px;
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    /*align-items: center;
    justify-content: space-between;*/

}
.bank_card {
    width: 360px;
    min-width: 360px;
    height: 200px;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    justify-content: space-between;
}
img {
    background: transparent;
    width: 50px;
    height: auto;
}
.card_decoration {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.fa-cc-visa{
    font-size: 60px;
}
.card_number{
    font-size: 26px;
}
.card_data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 18px;
}
h3{
    font-size: 12px;
}
h3, p {
    margin: 0;
}
::-webkit-input-placeholder { /* Chrome */
    color: #7d3333;
}
.form {
    margin: 0 2rem;
    color: #7d3333;
    display: flex;
    flex-flow: column;
}

.form input {
    outline: 0;
    width: 200px;

    border: none;
    border-radius: 1rem;
    background-color: rgb(255 255 255 / 0.2);
    margin: 5px 0 3px 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
    .form #cvv {
        width: 60px;
    }
    .form #date {
        width: 80px;
    }
    .alert {
        font-size: 12px;
        color: red;
        margin: 0 0 15px 0;
    }
    .data_cvv_row{
        display: flex; 
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    /*.form label{
        margin: 10px 0;
    }*/
    
button {
    text-transform: uppercase; /*
    outline: 0;*/
    background: lightcoral;
    width: 90%;
    border: 0;
    border-radius: 1rem;
    padding: 15px;
    color: white;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;*/
    cursor: pointer;
    font-family: "Ostrovsky";
}

    button:hover, button:active, button:focus{
        background: #ed8d90;
    }
@media (max-width: 765px){
    .bank_card{
        display:none;
    }
    .box {
        width: 300px;
        align-items: center;
        justify-content: space-between;
    }
}